@use "@styles/_responsives" as responsives;

.chosenSong {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 3rem;
  border-radius: 1rem;
  font-family: var(--font-secondary);
  text-align: center;
  line-height: 1.2rem;
  margin-bottom: 3rem;

  h2 {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  @include responsives.resolution__tablet {
    h2 {
      line-height: 1.6rem;
    }
  }
}
