@use "@styles/_responsives" as responsives;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
  background: var(--gradient-beta);
  width: 100%;

  &.removeBg {
    background: none;
  }

  &.isHome {
    position: fixed;
    bottom: 0;
  }

  @include responsives.resolution__mobile__m {
    flex-direction: column;
  }
}
