@use "@styles/_responsives" as responsives;

.searchInput {
  input {
    width: 25rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--color-black);
    font-family: var(--font-primary);
    font-size: 1.2rem;
    padding-left: 1rem;

    &:focus {
      outline: none;
    }

    @include responsives.resolution__tablet {
      width: 17.5rem;
    }

    @include responsives.resolution__mobile__m {
      width: 15rem;
    }

    @include responsives.resolution__mobile {
      width: 19rem;
    }

    @include responsives.resolution__mobile__s {
      width: 16rem;
    }
  }
}
