.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-alpha), url("./assets/images/ramones-bg.jpg");
  height: 100vh;
  background-size: cover;
  padding-top: 2rem;
  background-blend-mode: multiply;
}
