.song {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);
  border-radius: 1rem;
  padding: 0.5rem;
  border: 0.05rem solid var(--color-gray);
  width: 40rem;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .lyricsButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    width: inherit;
  }

  picture {
    width: 2.5rem;
    height: 2.5rem;

    img {
      width: inherit;
    }
  }

  button {
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}
